<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242239434832-94blp8o1n9j67ouv32il2fh5adqu2m53.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242239434832-94blp8o1n9j67ouv32il2fh5adqu2m53</string>
	<key>API_KEY</key>
	<string>AIzaSyC--_P2ppIgtsNNfIWwL_OACe51gtQA45w</string>
	<key>GCM_SENDER_ID</key>
	<string>242239434832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappclonw</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone-14f5e</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone-14f5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242239434832:ios:083d342dc426eed63b6155</string>
</dict>
</plist>